main {
  background-color: rgb(39, 38, 38);
  height: 100vh;
  margin: 0 !important;
}

a {
  font-size: 25px;
  font-weight: bold;
}

.navigation_item {
  height: 50px;
}

.navigation_item a {
  width: 100%;
  padding-right: 10px;
}

.active {
  background-color: white;
  color: rgb(39, 38, 38) !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  height: 100%;
  transition: color 1s;
}
